@import "./assets/styles/entry.scss";

.wrap {
  margin-top: 50px;
  @include wrap();
}

// FIELD TYPES
.field {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  & + &,
  & + .labledField {
    margin-top: 20px;
  }
  & + .group {
    margin-top: 20px;
  }

  .input:not(:only-child) {
    width: calc(50% - 10px);
  }
}
